
.first-block{
	width:820px;
	height: 920px;
	margin-top: 100px;
}
.table-block{
	position: absolute;
	width: 270px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px black solid;
	border-radius: 10px;
	transition: ease-out 0.2s;
	cursor: pointer;
}
.table-block:hover{
	box-shadow: inset 0 -100px 0 0;
}
.table-block:focus{
	box-shadow: inset 0 -100px 0 0;
}
.table-block:focus-within + .help{
	visibility: visible;
	opacity: 1;
}
.help:focus{
	visibility: visible;
	opacity: 1;
}
.table-block:hover #small-size-main{
	color: white;
}
.table-block:focus #small-size-main{
	color: white;
}
#table2{
	margin-left: 309px;
}
#table3{
	margin-left: 618px;
}
#table4{
	margin-left: 928px;
}
#table5{
	margin-top: 130px;
}
#table6{
	margin-left: 309px;
	margin-top: 130px;
}
#table7{
	margin-left: 618px;
	margin-top: 130px;
}
#table8{
	margin-left: 928px;
	margin-top: 130px;
}
#table9{
	margin-top: 260px;
}
#table10{
	margin-left: 309px;
	margin-top: 260px;
}
#table11{
	margin-left: 618px;
	margin-top: 260px;
}
#table12{
	margin-left: 928px;
	margin-top: 260px;
}
.help{
	margin-left: 200px;
	top: 200px;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	padding: 30px;
	border: 1px solid;
	border-radius: 10px;
	width: 700px;
	max-height: 450px;
	overflow-y: scroll;
	z-index: 900;
	background: rgba(255,255,255,0.8);
	backdrop-filter: blur(3px);
	transition: ease-out 0.3s;
	box-shadow: 0px 0px 40px rgba(90,90,90,0.8);
}
.recomendation{
	position: absolute;
	width: 505px;
	height: 250px;
	border: 1px solid black;
	border-radius: 30px;
	transition: ease-out 0.2s;
	padding: 40px;
	
}
.recomendation img{
	border-radius: 10px;
}
.rec-text{
	width: 220px;
	height: 250px;
	margin-left: 290px;
}
.recomendation:hover{
	transform: scale(1.03);
}
#rec2{
	margin-left: 614px;
}
#rec3{
	margin-top: 360px;
}
#rec4{
	margin-top: 360px;
	margin-left: 614px;
}
#rec5{
	margin-top: 720px;
}
#rec6{
	margin-top: 720px;
	margin-left: 614px;
}
#rec7{
	margin-top: 1080px;
}
#rec8{
	margin-top: 1080px;
	margin-left: 614px;
}
.second-block{
	height: 1700px;
}