@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

@media only screen and (max-width: 1200px) {
  html {
    zoom:80%;
  }
}
@media only screen and (max-width: 980px) {
  html {
    zoom:65%;
  }
}

*::-webkit-scrollbar
{
	width: 10px;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: white;
}


html{
    height: 100%;
	background-color: #181414;
}

.menu-text{
	margin-left: auto;
    margin-right: auto;
	font-family: comfortaa;
	font-size: 40px;
	font-weight: 500;
	transition: 0.3s ease-out;
	margin-left: 40px;
	margin-right: 10px;
}
.text-3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.text-4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.text-5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}
.text-6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
.text-7{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
.text-8{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}
a{
	text-decoration: none;
	color: white;
}
#title-size{
	font-size: 75px;
	color: white;
}
#big-size-main{
	font-size: 45px;
	color: white;
}
#middle-size-main{
	font-size: 32px;
	color: white;
}
#big-size-sub{
	font-size: 45px;
	color: rgb(151, 151, 151);
}
#middle-size-sub{
	font-size: 32px;
	color: rgb(151, 151, 151);
}
#small-size-main{
	font-size: 22px;
	color: white;
}
#small-size-main2{
	font-size: 22px;
	color: white;
}
#small-size-sub{
	font-size: 22px;
	color: rgb(151, 151, 151);
}
#very-small-size{
	font-size: 16px;
	color: rgb(151, 151, 151);
}
.menu-text{
    color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	font-weight: 600;
	transition: 0.3s ease-out;
	margin-left: 40px;
	margin-right: 10px;
}
body{
	margin: 0;
    background-attachment: fixed;
	display: flex;
	justify-content: center;
	min-width:1000px;
	width: auto !important;
	width:1000px;
	opacity: 0;
	transition: 0.5s ease-in;
    background-color: #181414;
}
.header{
	width:100%;
	position: fixed;
	height: 61px;
	background-color: #181414;
	z-index: 998;
    transition: 0.5s ease-in;
}
.menu{
	padding-top: 20px;
	width:1200px;
	height: 40px;
	position: fixed;
	border-bottom-width: 1px;
	border-bottom-style: solid;
    border-color: rgb(151, 151, 151);
	display: flex;
	transition: ease-out 0.5s;
	justify-content: flex-start;
	align-items: flex-end;
	text-align: center;
	background-color: #181414;
	z-index: 999;
    transition: 0.5s ease-in;
}
.menu:hover{
	cursor: pointer;
}
.menu .menu-text:hover{
	color: darkorange;
}
.menu-button{
	display: flex;
	justify-content: center;
}
.menu-button:focus .menu-text{
	color: darkorange;
}


.drop-menu{
	background: rgba(255,255,255,0.85);
	display: flex;
	position: fixed;
	opacity: 0;
	visibility: visible;
	margin-top: 80px;
	width: 250px;
	height: 80px;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	transition: all 0.3s ease-in;
	justify-content: center;
	align-items: center;
	margin-left: 120px;
	z-index: 998;
	backdrop-filter: blur(3px);
	visibility: hidden;
}
#drop2{
	margin-top: 180px;
	transition-delay: 0.1s;
}
#drop3{
	margin-top: 280px;
	transition-delay: 0.2s;
}
#drop4{
	margin-top: 380px;
	transition-delay: 0.3s;
}
#drop5{
	margin-top: 480px;
	transition-delay: 0.4s;
}
.main-page{
	width:1200px;
	margin-top: 60px;
}
.footer{
	width:100%;
	height:120px;
	border-top: 1px solid;
    border-color: rgb(151, 151, 151);
	display: flex;
}
.footer1{
	position: absolute;
	margin-top: 30px;
	margin-left: 100px;
}
.footer2{
	position: absolute;
	margin-top: 30px;
	margin-left: 800px;
	text-align: center;
}
.right-block{
	width: 270px;
	height: 270px;
	position: absolute;
	margin-left: 928px;
	border: 1px rgb(151, 151, 151) solid;
	border-radius: 10px;
	overflow: hidden;
	
}
.right-block-bottom{
	width:210px;
	position: absolute;
	margin-left: 928px;
	margin-top: 300px;
	border: 1px dimgrey solid;
	border-radius: 10px;
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	
}
.right-block-bottom a{
	text-decoration: underline;
}
.right-block-bottom #small-size-main{
	margin-left: auto;
	margin-right: auto;
	
}
a{
	cursor: pointer;
}

#theme-text{
	margin-left: 700px;
}

.switch {
	top: -10px;
  position: relative;
  display: inline-block;
  width: 55px;
  height: 25px;
  z-index: 1001;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #05445E;
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}